In [4]:
import pandas as pd
import numpy as np
df = pd.DataFrame ([[1,2,3,],
                   [4,5,6],
                   [7,8,9],
                   [np.nan, np.nan, np.nan]],
                   columns=['A', 'B', 'C'])
print(df)

     A    B    C
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN

In [7]:
#now, aggregate these functions over the rows
print(df.agg(['sum', 'min']))

        A     B     C
sum  12.0  15.0  18.0
min   1.0   2.0   3.0

In [9]:
#now, try different aggregations per column
print(df.agg({'A': ['sum','min'], 'B' : ['min','max']}))

        A    B
sum  12.0  NaN
min   1.0  2.0
max   NaN  8.0

In [11]:
#be careful what to exclude when aggregating, because the Kernel do not restart the internal variables from one cell to the other
print(df.agg("mean", axis="columns"))

0    2.0
1    5.0
2    8.0
3    NaN
dtype: float64

In [12]:
print(df.agg("mean",axis="rows"))

A    4.0
B    5.0
C    6.0
dtype: float64

In [13]:
#Load a small csv test file
data = pd.read_csv('phone_data.csv')

In [14]:
data

     index            date  duration  item    month   network network_type
0        0  15/10/14 06:58    34.429  data  2014-11      data         data
1        1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2        2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3        3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4        4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile
..     ...             ...       ...   ...      ...       ...          ...
825    825  13/03/15 00:38     1.000   sms  2015-03     world        world
826    826  13/03/15 00:39     1.000   sms  2015-03  Vodafone       mobile
827    827  13/03/15 06:58    34.429  data  2015-03      data         data
828    828  14/03/15 00:13     1.000   sms  2015-03     world        world
829    829  14/03/15 00:16     1.000   sms  2015-03     world        world

[830 rows x 7 columns]

In [29]:
#we have here a type date
#we must convert from string to date and time
import dateutil
data['date'] = data['date'].apply(dateutil.parser.parse, dayfirst=True)
print(data)

     index                date  duration  item    month   network network_type
0        0 2014-10-15 06:58:00    34.429  data  2014-11      data         data
1        1 2014-10-15 06:58:00    13.000  call  2014-11  Vodafone       mobile
2        2 2014-10-15 14:46:00    23.000  call  2014-11    Meteor       mobile
3        3 2014-10-15 14:48:00     4.000  call  2014-11     Tesco       mobile
4        4 2014-10-15 17:27:00     4.000  call  2014-11     Tesco       mobile
..     ...                 ...       ...   ...      ...       ...          ...
825    825 2015-03-13 00:38:00     1.000   sms  2015-03     world        world
826    826 2015-03-13 00:39:00     1.000   sms  2015-03  Vodafone       mobile
827    827 2015-03-13 06:58:00    34.429  data  2015-03      data         data
828    828 2015-03-14 00:13:00     1.000   sms  2015-03     world        world
829    829 2015-03-14 00:16:00     1.000   sms  2015-03     world        world

[830 rows x 7 columns]

In [30]:
print('Total nbr of rows in the DS:',data['item'].count())

Total nbr of rows in the DS: 830

In [31]:
print('what is the longest phone cell duration in this ds?', data['duration'].max())

what is the longest phone cell duration in this ds? 10528.0

In [7]:
import dateutil

In [32]:
# how many seconds in total did they record ?
print('the total nbre of seconds recorded are: ', data['duration'][data['item']=='call'].sum())

the total nbre of seconds recorded are:  92321.0

In [35]:
#calculate the total nbre of UNE which are not null (Unique Netwrok Entries)
print('the total nbre of non-null UNEs is: ', data['network'].nunique())

the total nbre of non-null UNEs is:  9

In [36]:
#now compute the monthly entries This aggregation is important
print(data['month'].value_counts())

2014-11    230
2015-01    205
2014-12    157
2015-02    137
2015-03    101
Name: month, dtype: int64

In [37]:
'''
count: the totale number of non-null values
mad: mean absolute deviation
prod: product of values
sem: standard error of the mean
skew kurt quantile
cumsum
cumprod
cummax
cumin

'''
#NOTE: groupby splits the data into different depending on a variable of your choice.
#ex: data.groupby('month') you are spliiting your Df by month

'\ncount: the totale number of non-null values\nmad: mean absolute deviation\nprod: product of values\nsem: standard error of the mean\nskew kurt quantile\ncumsum\ncumprod\ncummax\ncumin\n\n'

In [38]:
data = pd.read_csv('phone_data.csv')

In [39]:
print(data.groupby(['month']).groups.keys())

dict_keys(['2014-11', '2014-12', '2015-01', '2015-02', '2015-03'])

In [40]:
print(len(data.groupby(['month']).groups['2014-11']))

230

In [41]:
print(len(data.groupby(['month']).groups['2014-12']))

157

In [42]:
#combing groupby AND stat fcts like sum max min last first .... is a very powerful tool in DS
print(data.groupby(['month']).first())

         index            date  duration  item   network network_type
month
2014-11      0  15/10/14 06:58    34.429  data      data         data
2014-12    228  13/11/14 06:58    34.429  data      data         data
2015-01    381  13/12/14 06:58    34.429  data      data         data
2015-02    577  13/01/15 06:58    34.429  data      data         data
2015-03    729  12/02/15 20:15    69.000  call  landline     landline

In [43]:
print(data.groupby(['month']).last())

         index            date  duration  item   network network_type
month
2014-11    230  13/11/14 22:31     1.000   sms  Vodafone       mobile
2014-12    388  14/12/14 19:54    25.000  call     Three       mobile
2015-01    593  14/01/15 23:36     1.000   sms     Three       mobile
2015-02    728  12/02/15 06:58    34.429  data      data         data
2015-03    829  14/03/15 00:16     1.000   sms     world        world

In [44]:
print(data.groupby('month')['duration'].sum())

month
2014-11    26639.441
2014-12    14641.870
2015-01    18223.299
2015-02    15522.299
2015-03    22750.441
Name: duration, dtype: float64

In [45]:
print(data.groupby('month')['date'].count())

month
2014-11    230
2014-12    157
2015-01    205
2015-02    137
2015-03    101
Name: date, dtype: int64

In [46]:
#what is the sum of durations for callllllllssssss only, to each network
print(data[data['item']=='call'].groupby('network')['duration'].sum())

network
Meteor        7200.0
Tesco        13828.0
Three        36464.0
Vodafone     14621.0
landline     18433.0
voicemail     1775.0
Name: duration, dtype: float64